.header {
    padding: 24px 0;
    border-bottom: 1px solid var(--gray100);
}

.title {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    color: var(--secondary-color);
}