.panelHead {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
}
.panelHead p, .panelRow p {
    margin: 0;
    color: #6B7076;
}

.panelHead p:last-child, .panelRow p:last-child {
    text-align: right;
}

.panelData {
    border: 1px solid var(--gray200);
    border-radius: 16px;
    font-size: 16px;
    line-height: 24px;
}

.panelHead, .panelRow {
    display: flex;
    align-items: center;
}

.panelRow {
    padding: 32px 16px 0;
}

.panelRow:last-child {
    padding-bottom: 32px;
}

.panelFooter {
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    width: 100%;
    color: var(--secondary-color)
}

.w25 {
    width: 25%;
}

.line {
    position: relative;
    border-left: 1px solid var(--gray200);
    height: 8px;
    left: 24px;
}