.area {
    margin: 40px auto;
}

.line {
    position: relative;
    border-left: 1px solid var(--gray200);
    height: 8px;
    left: 24px;
}

.noResult {
    text-align: center;
    color: var(--primary-color);
}