.area {
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.search {
    color: var(--secondary-color);
    width: 50%;
    display: flex;
}

.searchBtn {
    border: 0;
    background-color: transparent;
    left: 50px;
    position: relative;
}

.searchInput {
    width: 100%;
    border: 0;
    background-color: #f0f4f8;
    border-radius: 16px;
    padding: 20px 20px 20px 50px;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}