.area {
    margin: 32px 0;
    display: flex;
    align-items: center;
}

.submit-lente {
    position: absolute;
    top: 18px;
    left: 10px;
    z-index: 10;
    border:none;
    background-color: transparent;
    outline: none;
    color: #3B3B3B;
}

.submit-line {
    position: relative;
    width: 50%;
}

.submit-line input {
    width: 100%;
    border: 0;
    background-color: #F0F4F8;
    border-radius: 16px;
    padding: 20px 20px 20px 50px;
    font-size: 16px;
    line-height: 24px;
}