.panelBody {
    border: 1px solid var(--gray200);
    border-radius: 16px;
    font-size: 16px;
    line-height: 24px;
}

.panelRow {
    display: flex;
    align-items: center;
    padding: 32px 16px 0;
}

.panelRow:last-child {
    padding-bottom: 32px;
}

.panelRow p {
    margin: 0;
    color: #6B7076;
}

.panelRow p:last-child {
    text-align: right;
}

.panelPrimaryText {
    display: flex;
    align-items: center;
}

.panelPrimaryText,
.panelRefundedText {
    color: var(--secondary-color) !important;
}

.panelRefundedText {
    text-decoration: line-through;
}

.panelCreditText {
    color: var(--primary-color) !important;
}

.panelCreditText::before {
    content: '- ';
}

.panelDebitText {
   color: #1A93DA !important;
}

.panelDebitText::before {
    content: '+ ';
}

.panelCreditText,
.panelDebitText {
    font-weight: 600;
}

.panelIcon {
    width: 32px;
    height: 32px;
    background-color: #EAF7FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}