:root {
  --primary-color: #fe3e6d;
  --secondary-color: #3b3b3b;
  --gray100: #dee4e9;
  --gray200: #c7cbcf;
  --gray300: #6b7076;
  --crystal: #eaf7ff;
  --blueStone: #1a93da;
  --radish: #d3345c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  width: 25%;
}

@media (max-width: 780px) {
  .column {
    width: 100%;
  }
}